{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filters</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'stylereport.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <header style="width: 100%; height: 70px; background-color: #282828">
        <h1>PSG<span style="color: #fff">iTech</span></h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Home</a></li>
                <li><a href="{% url 'personal' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Personal</a></li>
                <li><a href="{% url 'evcon' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Events Conducted</a></li>
                <li><a href="{% url 'eveat' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Events Attended</a></li>
                <li><a href="{% url 'awards' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Achievements And Awards</a></li>
                <li><a href="#" style="text-align: center; color: #03a9f4; text-decoration: none;">Report</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <section>
        <div class="container">
        <form class="box" method="post">
            {% csrf_token %}
            <div class="contactForm">
                <h1 style="color:  black">FACULTY REPORT GENERATION - </h1>
                <br><br><br><br>
                <div class="inputBox w100" style="margin-left: -100px">
                            <h2 style="font-weight: bold;color: black">Personal Data <input type="checkbox" name="checkboxr" value="1" style="margin-left: 15px"><br></h2>
                </div><br>
                <div class="inputBox w100" style="margin-left: -100px">
                        <h2 style="font-weight: bold;color: black">Events Conducted - </h2>
                            {% for i in evecon %}
                            <br>
                                <p style="font-weight: bold;color: black;margin-left: 50px">{{i.1}} ({{i.0}})<input type="checkbox" name="checkboxevcon" value="{{i.2}}" style="margin-left: 15px"><br></p>
                            {% endfor %}
                </div><br>
                <div class="inputBox w100" style="margin-left: -100px">
                        <h2 style="font-weight: bold;color: black">Events Attended - </h2>
                            {% for i in eveat %}
                            <br>
                                <p style="font-weight: bold;color: black;margin-left: 50px">{{i.1}} ({{i.0}})<input type="checkbox" name="checkboxeveat" value="{{i.2}}" style="margin-left: 15px"><br></p>
                            {% endfor %}
                </div><br>
                <div class="inputBox w100" style="margin-left: -100px">
                        <h2 style="font-weight: bold;color: black">Awards and Achievements - </h2>
                            {% for i in award %}
                            <br>
                                <p style="font-weight: bold;color: black;margin-left: 50px">{{i.0}}<input type="checkbox" name="checkboxaward" value="{{i.1}}" style="margin-left: 15px"><br></p>
                            {% endfor %}
                </div>
                <div class="inputBox w100" style="margin-left: -100px">
                    <div class="center">
                        <input type="submit" value="File" id="btn1" style="margin-top: 60px;margin-left: 300px;font-size: 20px;background-color: #fa6961">
                    </div>
                </div>
            </div>
        </form>
        </div>
        </section>
    </body>
</html>
