{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Details</title>
        <link rel="stylesheet" href="{% static 'stylecon.css' %}">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        section:before{background: #50c878}
    </style>

    </head>
    <header style="width: 100%; height: 70px; background-color: #282828">
        <h1>PSG<span style="color: #fff">iTech</span></h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Home</a></li>
                <li><a href="{% url 'personal' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Personal</a></li>
                <li><a href="{% url 'evcon' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Events Conducted</a></li>
                <li><a href="{% url 'eveat' %}" style="text-align: center; color: #03a9f4; text-decoration: none;">Events Attended</a></li>
                <li><a href="{% url 'awards' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Achievements And Awards</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" style="text-align: center; color: #ffffff; text-decoration: none;">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <body>
        <section>
        <div class="container">
        <form class="ea" method="post">
            {% csrf_token %}
            <div class="contactForm">
                <h2>Update Events Attended Details - </h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="facultyid" required>
                        <span>Facultyid - {{facultyid}}</span>
                    </div>
                    {% ifequal eventtype "1" %}
                    <label class="inputBox w100" style="padding-top: 20px"><h2>Event Type : International Conference</h2></label>
                    {% endifequal %}
                    {% ifequal eventtype "2" %}
                    <label class="inputBox w100" style="padding-top: 20px"><h2>Event Type : PSG CARE Program</h2></label>
                    {% endifequal %}
                    {% ifequal eventtype "3" %}
                    <label class="inputBox w100" style="padding-top: 20px"><h2>Event Type : Workshop</h2></label>
                    {% endifequal %}
                    {% ifequal eventtype "4" %}
                    <label class="inputBox w100" style="padding-top: 20px"><h2>Event Type : Online Course</h2></label>
                    {% endifequal %}
                    <div class="inputBox w50" id="evtt" style="padding-top:25px">
                        <input type="text" name="facultyname">
                        <span>Faculty Name - {{facultyname}}</span>
                    </div>
                    <div class="inputBox w50" id="rpn" style="padding-top:25px">
                        <input type="text" name="facultydesig">
                        <span>Faculty Designation - {{facultydesig}}</span>
                    </div>
                    <label class="inputBox w100" style="padding-top: 20px"><h2>Department</h2></label>
                    <div class="inputBox w100" id="dept" style="margin-top: -20px">
                          <select name="facultydep" id="depts">
                            {% ifequal facultydep "1" %}
                            <option value="1" selected>CSE</option>
                            <option value="2">ECE</option>
                            <option value="3">EEE</option>
                            <option value="4">MECH</option>
                            <option value="5">CIVIL</option>
                            {% endifequal %}
                            {% ifequal facultydep "2" %}
                            <option value="1">CSE</option>
                            <option value="2" selected>ECE</option>
                            <option value="3">EEE</option>
                            <option value="4">MECH</option>
                            <option value="5">CIVIL</option>
                            {% endifequal %}
                            {% ifequal facultydep "3" %}
                            <option value="1">CSE</option>
                            <option value="2">ECE</option>
                            <option value="3" selected>EEE</option>
                            <option value="4">MECH</option>
                            <option value="5">CIVIL</option>
                            {% endifequal %}
                            {% ifequal facultydep "4" %}
                            <option value="1">CSE</option>
                            <option value="2">ECE</option>
                            <option value="3">EEE</option>
                            <option value="4" selected>MECH</option>
                            <option value="5">CIVIL</option>
                            {% endifequal %}
                            {% ifequal facultydep "5" %}
                            <option value="1">CSE</option>
                            <option value="2">ECE</option>
                            <option value="3">EEE</option>
                            <option value="4">MECH</option>
                            <option value="5" selected>CIVIL</option>
                            {% endifequal %}
                          </select>
                    </div>
                    <div class="inputBox w50" id="rpd" style="padding-top:25px">
                        <input type="text" name="eventname">
                        <span>Event Name - {{eventname}}</span>
                    </div>
                    <div class="inputBox w50" id="rpc" style="padding-top:25px">
                        <input type="text" name="eventby">
                        <span>Event By - {{eventby}}</span>
                    </div>
                    <div class="inputBox w50" id="doe" style="padding-top:25px">
                        <input type="date" name="date">
                        <span>{{date}}</span>
                    </div>
                    <div class="inputBox w50" id="rpm" style="padding-top:25px">
                        <input type="text" name="venue">
                        <span>Venue - {{venue}}</span>
                    </div>
                    <div class="inputBox w100" id="rpp" style="padding-top:25px">
                        <input type="text" name="eventdesc">
                        <span>Event Description - {{eventdesc}}</span>
                    </div>
                    <div class="inputBox w50" style="padding-top: 20px">
                        <input type="submit" value="Update" id="btn1" name="Updateevent">
                    </div>
                    <div class="inputBox w50" style="padding-top: 20px">
                        <input type="submit" value="Delete" id="btn1" name="Delevent">
                    </div>
                </div>
                </div>
        </form>
        </div>
    </section>
        </section>
    </body>
{% if flagupdate %}
    <script>
        alert("Events Attended Details Has been Updated")
    </script>
{% endif %}
</html>
